<h1>Articles</h1>

<ul id="articles">
    <% @articles.each do |article| %>
    <li>
        <h4>
            <%= article.title %>
        </h4>
        <p> 
            <%= link_to article.title, article_path(article), class: 'article-title', id: "article_#{article.id} "%>
        <p>
    </li>
    <% end %>
</ul>

<%= link_to "Create a New Article" , new_article_path, class: "new_article" %>